#mainclass{
    width: 40%;
    height: 40%;
    line-height: 45px;
    padding: 120px 120px;
    margin: auto;
    color: white;
    border: 2px solid red;
    background-image: url(heart.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}
#imageswap{
    width: 40%;
    height: 10%;

}
#nextbut{
    width: 138px;
    height: 2px;

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 291px;
  }
